.container-all{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-signin {
       background-image: url(../../assets/signin.svg);
    background-repeat: no-repeat;
    height: 100vh;
  }

.content-signin{
    position: relative;

     display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 
img.img-worker-container{
   height: 100vh;
}


span.line-footer {
     height: 1.563rem;
      width: 100%;
       bottom: 0;
      position: absolute;
      left: 0;
     background-color: #00E0DC;
}

.login-container{
    width: 23.75rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #004E6C;
    border-radius: 1.875rem;
}

.logo {
    height: 3.75rem;
}

.logo-header{
    margin-bottom: 1rem;
}

.login-input-form{
    display: flex;
    flex-direction: column;
}

.login-footer-version{
    color: #fff;
    font-size: 0.75rem;
}

.login-input-form input{
    border: none;
    margin-bottom: 6px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 8px;
    width: 18.75rem;
    height: 3rem;
}

.login-input-form button{
    border-radius: 4px;
    background-color: #44537A;
    border: none;
    width: 18.75rem;
    height: 3rem;
    outline: none;
    padding: 8px;
    margin-bottom: 10px;
}

.login-input-form button:hover{
    transition: all 0.5s;
    background-color: #afb7cc;
    opacity: 0.5;
}
 
.login-input-form .btnEnter {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}


@media (max-width: 960px)
{
    .login-input-form input {
        width: 15.625rem;
        height: 3rem;
    }

    .login-input-form button {
        width: 15.625rem;
        height: 3rem;
    }
  
}

@media (max-width: 900px)
{
    .logo {
        height: 2.75rem;
    }

    .img-worker-container{
        display: none;
    }

    .login-container {
        width: 18rem;
        height: 18rem;
        border-radius: 1rem;
        margin: 0 auto;
    }

    .container-signin {
        justify-content: center;
        display: flex;
    }
}