@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    background-color: #f1f1f1;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

button{
    cursor:pointer;
}